/* 전체 영역 */
.app {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: sans-serif;
}

/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 320px 18px 320px;
}

/* 로고 영역 */
.logo-wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 32px;
  height: auto;
  margin-right: 8px;
}

.main-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #0088ff; /* 메인 블루 */
}

/* 네비게이션 */
.nav {
  display: flex;
  gap: 24px;
}

.nav-item {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.nav-item:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.19));
}

/* 아래 가로선 */
.divider {
  border-bottom: 1px solid #e5e7eb;
  margin-left: 32px;
  margin-right: 32px;
}

/* 메인 콘텐츠 */
.main {
  max-width: 1100px;
  margin: 20px auto;
  padding: 0px 40px;
  background-color: white;
  border-radius: 8px;
}

.main-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.main-text {
  color: #555;
}

.main-bg {
  height: 500px;
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center;
}

.header-border {
  border: solid 0px black;
  box-shadow: 1px 1px 5px 0.15px #494949;
  margin: 0px 316px;
}

.shoe-image-row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.single-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
