@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --mainblue-color: #0088ff;
}

body {
  font-family: "Pretendard", sans-serif;
}
